<!DOCTYPE html>

<section class="section-4 gray mb-5 py-2 box-shadow">

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="blue-text my-3 text-center text-md-left d-block">www.alrayhan.com</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="blue-text my-3 text-center text-md-left d-block">dribbble.com/rtralrayhan</a>
        </div>
      </div>
    </div>
  </div>

</section>
