<!DOCTYPE html>

<section class="section-9">

  <div class="row masonery">

    <!--clanak 1 -->
    <div class="col-sm-6">
      <article>
        <figure>
          <img src="assets/img/salata-2.jpg" alt="" />
        </figure>

        <div class="red-title-2 title text-white" style="background-color: #f0213e;">
          <h3>Website Redesign</h3>
          <p class="text-white">branding, ui-ux, article</p>
        </div>

        <div class="tekst-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </article>
    </div>

    <!--clanak 2 -->
    <div class="col-sm-6">
      <article>
        <figure>
          <img src="assets/img/vrabac.jpg" alt="" />
        </figure>

        <div class="grey-title title text-white" style="background-color: #3895a0;">
          <h3>Website Redesign</h3>
          <p class="text-white">branding, ui-ux, article</p>
        </div>

        <div class="tekst-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam quised ie risus eget urna mollis ornare vel eurom leope. Praesent commodo cursus magna.
          </p>
        </div>
      </article>
    </div>

    <!--clanak 3 -->
    <div class="col-sm-6">
      <article>
        <figure id="problem">
          <img src="assets/img/sat.jpg" alt="" />
        </figure>

        <div class="black-title title text-gray" style="background-color: #cddddc;">
          <h3>Music Player Desing</h3>
          <p>branding, ui-ux, article</p>
        </div>

        <div class="tekst-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam quised ie risus eget urna mollis ornare vel eurom leope. Praesent commodo cursus magna.
          </p>
        </div>
      </article>
    </div>


    <!--clanak 4 -->
    <div class="col-sm-6">
      <article>
        <figure>
          <img src="assets/img/fotograf.jpg" alt="" />
        </figure>

        <div class="blue-title title text-gray" style="background-color: #fbf784;">
          <h3>Marketing Partner</h3>
          <p>marketing, photography</p>
        </div>

        <div class="tekst-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </article>
    </div>

    <!--clanak 5 -->
    <div class="col-sm-6">
      <article>
        <figure>
          <img src="assets/img/jelo.jpg" alt="" />
        </figure>

        <div class="yellow-title title text-white" style="background-color: #eaa001;">
          <h3>Marketing Partner</h3>
          <p class="text-white">marketing, photography</p>
        </div>

        <div class="tekst-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nullam quised ie risus eget urna mollis ornare vel eurom leope. Praesent commodo cursus magna.
          </p>
        </div>
      </article>
    </div>







  </div>
</section>
