<!DOCTYPE html>

<!--Comments -->
<section class="section-8 box-shadow">

  <!--comments bootstrap -->

  <article class="media">
    <figure class="mr-3 wrap">
      <img src="assets/img/jenny-doe.jpg" alt="Generic placeholder image">
    </figure>
    <div class="media-body">
      <h5 class="mt-0">Jenny Doe</h5>
      <p>February 18, 2015 at 2:56 pm</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <!--reply -->
      <div class="media mt-3">
        <figure class="mr-3 wrap">
          <img src="assets/img/john-doe.jpg" alt="Generic placeholder image">
        </figure>
        <div class="media-body">
          <h5 class="mt-0">John Doe</h5>
          <p>February 18, 2015 at 2:56 pm</p>
          <p>
            Yahoooo, I you did this
          </p>
        </div>
      </div>
    </div>
  </article>

</section>
