<!DOCTYPE html>

<section class="section-6 gray mb-5 padding-y-2rem box-shadow">
  <div class="row">

    <div class="col-md-2 text-center">
      <img src="assets/img/kapa.png" alt="" class="icon-position" />
    </div>

    <div class="col-md-10 pr-5 pl-5 pl-md-0">
      <h2 class="mt-4">References</h2>

      <h4>Mr.John Doe</h4>
      <p class="blue-text mb-1">Founder & CEO, Lorem Ipsum</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <hr>

      <h4>Mr. Anwar Hosain</h4>
      <p class="blue-text mb-1">Co-Founder & CEO, MedA-ID</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod dolore magna aliqua. Ut enim ad quis nostrud exercitation
      </p>

    </div>
  </div>
</section>
