<!DOCTYPE html>

<!-- navigation starts -->
<nav class="menu">
  <ul class="side-menu list-unstyled">
    <li class="actv" (click)="close()">
      <a routerLink="/main-page">Main Page</a>
    </li>
    <li (click)="close()">
      <a routerLink="/portfolio">Portfolio</a>
    </li>
    <li (click)="close()">
      <a routerLink="/cover-letter">Cover-letter</a>
    </li>
    <li (click)="close()">
      <a routerLink="/projects">Projects</a>
    </li>
    <li (click)="close()">
      <a routerLink="/single">Single</a>
    </li>
    <li (click)="close()">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
  <span class="fa fa-close"></span>
</nav>
<div class="menu-overlay">

</div>
<!-- navigation ends -->
