<!DOCTYPE html>

<aside class="box-shadow blue">

                        <!-- dugme za navigaciju -->
                        <div class="toggle-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                        <figure class="picture marg-r--20">
                            <img src="/assets/img/al-rahad.jpg" alt=""/>
                            <div class="tekst">
                                <h2 class="font-w600">Al Rayhan</h2>
                                <p>UI & UX Expert</p>
                            </div>
                            <div class="shadow"></div>
                        </figure>

                        <div class="user">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <span class="fa fa-user marg-b-2rem icon-margin"></span>
                                </div>
                                <div class="col-md-9 pr-3">
                                    <div class="px-5 px-md-0">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod tempor incididunt ut labor et dolore magna aliqua.
                                            Ut enim ad minim veniamnt in culpa quie officia deserunt mollit.
                                        </p>
                                    </div>
                                    <hr class="granica-1 hr-white">
                                </div>
                            </div>
                        </div>



                        <div class="phone">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <span class="fa fa-phone marg-b-2rem icon-margin"></span>
                                </div>
                                <div class="col-md-9">
                                    <div class="px-5 px-md-0">
                                        <p>(880) 1737-662662</p>
                                        <p class="opacity-w-80 mb-4">Mobile</p>
                                        <p>(880) 1771-299299</p>
                                        <p class="opacity-w-80">Work</p>
                                    </div>
                                    <hr class="granica-1 hr-white">
                                </div>
                            </div>
                        </div>

                        <div class="email">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <span class="fa fa-envelope marg-b-2rem icon-margin"></span>
                                </div>
                                <div class="col-md-9">
                                    <div class="px-5 px-md-0">
                                        <a href="mailto:mail@alrayhan.com">mail@alrayhan.com</a>
                                        <p class="opacity-w-80 mb-4">Personal</p>
                                        <a href="mailto:ar@deviserweb.com">ar@deviserweb.com</a>
                                        <p class="opacity-w-80">Work</p>
                                    </div>
                                    <hr class="granica-1 hr-white">
                                </div>
                            </div>
                        </div>

                        <div class="adress">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <span class="fa fa-map marg-b-2rem icon-margin"></span>
                                </div>
                                <div class="col-md-9">
                                    <div class="px-5 px-md-0">
                                        <p>24 Golden Tower <sup class="opacity-w-80">(2nd floor)</sup></p>
                                        <p>Amberkhana, Sylhet</p>
                                        <p class="opacity-w-80">SYL-3RF87W</p>
                                    </div>
                                    <hr class="granica-1 hr-white">
                                </div>
                            </div>
                        </div>

                        <div class="skills">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <img src="/assets/img/notebook.png" alt="" class="icon-position-2 icon-margin"/>
                                </div>
                                <div class="col-md-9 px-5 px-md-3">
                                    <h2 class="mt-4 mb-5 fs-1_5rem">Professional Skills</h2>
                                    <h4 class="fs-1_2rem">Adobe Photoshop</h4>
                                    <div class="blue-bar" data-skill="90">
                                        <div class="white-bar">
                                            <span class="white-circle"></span>
                                        </div>
                                    </div>
                                    <h4 class="fs-1_2rem">Adobe Illustrator</h4>
                                    <div class="blue-bar" data-skill="70">
                                        <div class="white-bar">
                                            <span class="white-circle"></span>
                                        </div>
                                    </div>
                                    <h4 class="fs-1_2rem">HTML 5  CSS 3</h4>
                                    <div class="blue-bar" data-skill="80">
                                        <div class="white-bar">
                                            <span class="white-circle"></span>
                                        </div>
                                    </div>
                                    <h4 class="fs-1_2rem">Java Script</h4>
                                    <div class="blue-bar" data-skill="65">
                                        <div class="white-bar">
                                            <span class="white-circle"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </aside>
