<!DOCTYPE html>

<section class="section-2 gray mb-5 padding-y-2rem box-shadow">
  <div class="row">
    <div class="col-md-2 text-center">
      <img src="/assets/img/kapa.png" alt="" class="icon-position" />
    </div>
    <div class="col-md-10 pr-5 pl-5 pl-md-0">
      <h2 class="mt-4">Education</h2>

      <h4>UI & WEB DESIGNER @Academy</h4>
      <p class="blue-text mb-1">JAN 2013 - DEC 2014</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <hr>

      <h4>UI & WEB DESIGNER @Academy</h4>
      <p class="blue-text mb-1">JAN 2013 - DEC 2014</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <hr>

      <h4>UI & WEB DESIGNER @Academy</h4>
      <p class="blue-text mb-1">JAN 2013 - DEC 2014</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
