<!DOCTYPE html>

<!-- comment form -->
<section class="section-11 gray mb-5 padding-y-2rem box-shadow">
  <!-- name map -->

  <div class="px-5">
    <h2 class="mt-4">Post a comment</h2>
    <!--forma -->
    <form class="contact-form" method="post" action="">
      <!-- name -->
      <div class="form-group">
        <input class="form-control" name="name" value="" placeholder="Name">
        <div class="error"></div>
      </div>
      <!-- email -->
      <div class="form-group">
        <input class="form-control" name="email" value="" placeholder="Email">
        <div class="error"></div>
      </div>
      <!-- message -->
      <div class="form-group">
        <textarea class="form-control" name="text" placeholder="Write Here" rows="6"></textarea>
        <!--                                            <input class="form-control" name="message" value="" placeholder="Write Here">-->
        <div class="error"></div>
      </div>
      <!-- button -->
      <button class="btn btn-info text-white hand" type="submit">Comment</button>
    </form>

  </div>

</section>
