<!DOCTYPE html>


<section class="section-3 gray mb-5 py-2 box-shadow">
  <div class="row">
    <div class="col-md-2 text-center">
      <img src="/assets/img/sat.png" alt="" class="icon-position-2" />
    </div>
    <div class="col-md-10">
      <article>
        <h2 class="mt-4 text-center text-md-left">Interests</h2>
        <div class="row">
          <div class="col-6 col-sm-4 col-md">
            <img src="assets/img/el_guitar.png" alt="" class="icon-position-3 width-80" />
          </div>
          <div class="col-6 col-sm-4 col-md">
            <img src="assets/img/icecream.png" alt="" class="icon-position-3" />
          </div>
          <div class="col-6 col-sm-4 col-md">
            <img src="assets/img/airplane.png" alt="" class="icon-position-3" />
          </div>
          <div class="col-6 col-sm-4 col-md">
            <img src="assets/img/basketball.png" alt="" class="icon-position-3 width-64" />
          </div>
          <div class="col-6 col-sm-4 col-md">
            <img src="assets/img/pencil.png" alt="" class="icon-position-3 width-42" />
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
