<!DOCTYPE html>

<section class="project-page mt-2">

  <div class="row masonery">

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika1_1.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika2.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika3_3.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika4.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika5.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika6.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika7.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6">
      <a href="#">
        <figure class="wrap">
          <img src="assets/img/slika8.jpg" alt="" />
        </figure>
        <div class="hover">
          <h3>Creative Design</h3>
          <p>lerem ipsum becouse it won't come to you without a fight</p>
        </div>
      </a>
    </div>

  </div>

</section>
